@use "../../styles/variables"

.book
    width: 30.3%
    margin-right: 1.5%
    margin-left: 1.5%
    margin-bottom: 30px
    border-color: #dddddd
    border-width: 0.001px
    border-style: solid

.book_title
    margin: 5%

.book_description
    margin-left: 5%
    margin-right: 5%
    padding-top: 20px
    padding-bottom: 50px
    text-align: justify
